name: Changelog

on:
  pull_request:
    types: [closed]

  release:
    types: [published]

  issues:
    types: [closed, edited]

jobs:
  generate_changelog:
    runs-on: ubuntu-latest
    name: Generate changelog for master branch
    steps:
      - uses: actions/checkout@v1

      - name: Generate changelog
        uses: charmixer/auto-changelog-action@master
        with:
          token: ${{ secrets.CI_TOKEN }}

      - name: Commit files
        env:
          OPENSENTRY_CI_USER: ${{ secrets.CI_USER }}
          OPENSENTRY_CI_EMAIL: ${{ secrets.CI_EMAIL }}
        run: |
          git config --local user.email "$CI_EMAIL"
          git config --local user.name "$CI_USER"
          git add CHANGELOG.md && git commit -m 'Updated CHANGELOG.md' && echo ::set-env name=push::1 || echo "No changes to CHANGELOG.md"

      - name: Push changes
        if: env.push == 1
        env:
          OPENSENTRY_CI_USER: ${{ secrets.CI_USER }}
          OPENSENTRY_CI_TOKEN: ${{ secrets.CI_TOKEN }}
        run: |
          git push "https://$CI_USER:$CI_TOKEN@github.com/$GITHUB_REPOSITORY.git" HEAD:master
